.portrait{
    width: 200px;
    height: auto;
    padding: 10px;
    padding-top: 4px;
}

p:first-letter { 
    float: left; 
    color: #903; 
    font-size: 75px; 
    line-height: 60px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px; 
    font-family: Georgia; 
}